
body {
    background-image: linear-gradient(#FFFBD2,#E87993);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@font-face{
    font-family: f1;
    src: url(../FONT/DS-DIGIT.TTF);
}

@font-face {
    font-family: f2;
    src: url(../FONT/couture-bld.otf);
}

@font-face {
    font-family: f3;
    src: url(../FONT/VictorianBritania.ttf);
}

@font-face {
    font-family: f4;
    src: url(../FONT/Garet-Book.ttf);
}

#welcome{
    width: 80% auto;
    text-align: center;
    margin: 7% auto;
}


h2{
    text-align: center;
}

h1{
    font-family: f3;
    font-size: 70px;
}

#startQuiz, #viewScores, #submitAnswer, #submitInitials, #backToScores, #goBack, #clearScores, #viewAnswers{
    padding: 20px auto;
    background-color: khaki;
    font-family: f2;
    border-radius: 20px;
    color: rgb(98, 89, 89);
    align-items: center;
    text-align: center; 
}



#question{
    font-family: f2;
}

#answer1, #answer2, #answer3, #answer4{
    font-family: f4;
    font-size: 80px;
}

#inputScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

#initials {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    width: 200px; 
}


#quiz, #inputScore, #highscores, #answers {
    width: 40%;
    margin: 7% auto;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 50px;
    background-color: #BD4074;
    color: #f0f0f0;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

#timer {
    margin-top: 30px;
    font-size: 24px;
    text-align: right;
    margin-right: 30px;
    font-family: f1;
    font-size: 60px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}


